@import "./imports/_normalize.scss";

*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

#app-container{
  width: 100%;
}
// <<<<<<< HEAD


.main-header {
  position: relative;
  background: #C02425; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #C02425 , #F0CB35); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #C02425 , #F0CB35); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 420px;
  padding-top: 50px;

  margin-bottom: 0;
  h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  font-family: fantasy, serif;
  }
  h3 {
    text-align: center;
    font-size: 40px;
    font-family: "Helvetica", serif
  }
}

.container {
  margin-right: 0;
  width: 100%;
}

.input-container {
  height: 375px;
  background: #bdc3c7;
  margin-right: 0;
}

.input-box {
  width: 400px;
  margin: 20px auto 0;
  h3 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .name-input,
  .screenName {
    height: 40px;
  }
}

.enter-btn {
  text-align: center;
  a {
    margin-top: 10px;
  }
}

a:hover {
  opacity: .5;
}

.firstName-input {
  width: 100px;
}

.auto-pic-container {
  position: absolute;
  width: 150px;
  top: 50;
  left: 70;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(-15deg);
  img {
    border-radius: 25px;
  }
}

.truck-pic-container {
  position: absolute;
  width: 200px;
  top: 125;
  right: 70;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(15deg);
  img {
    border-radius: 25px;
  }
}

.sign-in-btn {
  position : absolute;
  right: 40;
  top: 15px;
}

// .pswd-input {
//   width: 50%;
// }



// =======
// >>>>>>> 58cf54cc6b3c1dc7be7f6adf80c905f4ee4ec142
